<!doctype html>

<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>

<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

<h1><center>Instructions</center></h1>
</br>
</br>
<p><center>This quiz consists of 30 questions that will test your knowledge of Navy and Marine Corps platforms.</center></p>
</br>
<p><center>You will be shown a picture of a platform, and you will have 7 seconds to submit the correct answer.</center></p>
</br>
<p><center>If you get the question correct, you will receive 1 point. If you get a question wrong or don't answer in time, you will lose 3 points.</center></p>	
</br>
<h4><center><b>Do not REFRESH or use the BACK button during the quiz. It may break the quiz and mess up your score.</b></center></h4>
</br>
</br>
<form name="leaderboard" method='POST' action="{{ url_for('game', question_id=0) }}">
	<center><button class="btn btn-default">Begin Quiz</button></center>
</form>


<!-- <form action="{{ url_for('login') }}" method='post'> -->